@font-face {
    font-family: Foco;
    src: url(Foco.ttf);
}

body {
	padding: 0;
	margin: 0;
	font-family: Foco;

	height: 100%;
	overflow: hidden;

	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #454545 0%, #000000 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #454545 0%, #000000 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #454545 0%, #000000 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #454545), color-stop(100, #000000));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #454545 0%, #000000 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #454545 0%, #000000 100%);
}

#app-kader {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

.logo {
	position: absolute;
	left: 10px;
	top: 10px;
	height: 40px;
}

.content-midden {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translatey(-50%);
}

.hint-kader {
    margin: auto;
    width: 90%;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.hint-afb {
    position: absolute;

    display: block;

    left: 50%;
    width: 100%;
    max-width: 220px;
    margin-left: -110px;

    -webkit-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
    box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
}

.antwoord-kader {
	margin: auto;
	text-align: center;
	max-width: 90%;
}

.krasje {
	border-radius: 5px;
	margin-top: 8px;
	font-size: 20px;
    width: 40px;
    height: 40px;

    margin-left: 1px;
    margin-right: 1px;

    box-sizing: border-box;
    border: none;

    text-transform: uppercase;
    text-align: center;

    -webkit-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
	box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);

	display: none;
}

.hint {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	background: white;
	text-align: center;
	opacity: 0.3;
	border-radius: 5px;
	border-bottom: 2px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.hint p {
	color: black;
	padding: 0;
	margin: 0;
	font-size: 30px;
	margin-top: 3px;
}

.melding-kader {
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.antwoord-kop {
    padding: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.antwoord-subkop {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-top: 0;
    color: white;
    margin: 10px;
}

.antwoord-knop{
    display: inline-block;
    background: red;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 2px solid #CC0000;
    color: white;
}

.antwoord-text {
	padding: 0;
	margin: 0;
	color: white;
	font-size: 20px;
	margin-bottom: 5px;
}



#hh {
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	display: none;
}

.hoofdie {
	color: white;
	text-align: center;
	font-family: Foco;
	padding-left: 50px;
	padding-right: 50px;
}

.textie {
	color: white;
	text-align: center;
	font-family: Foco;
	padding-left: 50px;
	padding-right: 50px;

}

.textie2 {
	color: white;
	text-align: center;
	font-family: Foco;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 10px;
	margin-top: -3px;
}	

.hint-afb2 {
    position: absolute;

    display: block;

    left: 50%;
    width: 100%;
    max-width: 200px;
    margin-left: -100px;

    -webkit-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);
    box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.28);

    margin-top: 20px;
}